.assignedMot {
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
}

.assignedMot > input, .assignedMot > button {
    margin: 0 0.25em;
    padding: 0.25em;
}

.assignedMot > input {
    width: 0;
}

.definition {
    flex: 2;
}

.pseudo, .mot, .guess, .answer {
    flex: 1
}

.answer {
    transition: background-color 0.2s;
    background-color: #211A1D;
    color: #211A1D;
}

.answer:hover {
    background-color: white;
}

@media screen and (max-width: 900px) {
    .assignedMot {
        margin: 0.5em 0;
        flex-direction: column;
    }

    .assignedMot > input, .assignedMot > button {
        margin: 0;
        padding: 0.25em;
        width: auto;
    }
}