.assignedMot {
    display: flex;
}

.assignedMot > input, .assignedMot > button {
    margin: 0.25em;
    padding: 0.25em;
}

.definition {
    flex: 2;
}

.mot, .guess {
    flex: 1
}