.availableMot {
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
}

.availableMot > input, .availableMot > button {
    margin: 0 0.25em;
    padding: 0.25em;
    min-width: 6em;
}

.availableMot > input {
    width: 0;
}

.definition {
    flex: 2;
}

.mot, .answer {
    flex: 1;
}

.answer {
    transition: background-color 0.2s;
    background-color: #211A1D;
    color: #211A1D;
}

.answer:hover {
    background-color: white;
}

@media screen and (max-width: 900px) {
    .availableMot {
        margin: 0.5em 0;
        flex-direction: column;
    }

    .availableMot > input, .availableMot > button {
        margin: 0;
        padding: 0.25em;
        width: auto;
    }
}