.form {
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
}

.form > input, .form > button {
    margin: 0 0.25em;
    padding: 0.25em;
}

.definition {
    flex: 1;
}

.mot {
    flex: 1
}

@media screen and (max-width: 1200px) {
    .form {
        margin: 0.5em 0;
        flex-direction: column;
    }

    .form > input, .form > button {
        margin: 0;
        padding: 0.25em;
    }
}
