.wrapper {
    display: flex;
    flex-direction: column;
}

.leaderboard {
    counter-reset: leaderboard;
}


.leaderboard > li:before {
    counter-increment: leaderboard;
    content: counter(leaderboard) " -";
    margin-right: 0.4em;
}

.leaderboard > li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: white;
}

.pseudo {
    flex: 1;
}

.points {
    display: flex;
    align-items: center;
    font-style: italic;
}

.points > input {
    width: 2em;
    margin-right: 0.4em;
    padding: 0;
    text-align: right;
}

.points > div {
    width: 3em;
}