.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.lists {
    flex: 1 1 30em;
    display: flex;
    flex-direction: column;
    margin: 0.25em;
    background-color: white;
    border: solid #211A1D 1px;
}

.lists > h2 {
    font-size: 1.2rem;
    padding: 0.25em;
    margin-bottom: 0.5em;
    border-bottom: solid #211A1D 1px;
}

.lists > ul {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.lists > ul > li {
    margin: 0.25em;
    border: solid #211A1D 1px;
}

.lists > ul > li > span {
    margin: 0.25em;
}

.lists > ul > li > button {
    font-size: 0.75rem;
}

.lists > form {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
}

.lists > form > input {
    width: 0;
    flex: 2 1 10em;
    margin: 0.25em;
    padding: 0.25em;
}

.lists > form > select {
    flex: 1;
    margin: 0.25em;
    padding: 0.25em;
}

.lists > form > button {
    flex: 1;
    margin: 0.25em;
    padding: 0.25em;
}
